
world = "Hellow world"
first_name = "Максим"
last_name = "Оринчак"
age = 16

print("Тип данний змінної світ : ",type(world))
print("Тип данний змінної ім'я : ",type(first_name))
print("Тип данний змінної вік : ",type(age))
print("Тип данний змінної призвіщем : ",type(last_name))
